:root {
  --roboto-font: "League Spartan", sans-serif;
  --poppins-font: "Poppins", sans-serif;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

/* CSS Header */

header {
  height: 10vh;
  background-color: #bdbadf;
  display: flex;
  padding: 10px;
}

header .logo {
  margin: 0 2rem 0 2rem;
  display: flex;
  margin-right: 55rem;
}

.logo img {
  margin-right: 1rem;
}

.logo h1 {
  color: black;
  font-size: 30px;
  font-family: var(--poppins-font);
  font-weight: 700;
  margin: auto;
}

.user {
  display: flex;
  margin-right: 1.3rem;
}

.user #username {
  font-size: 20px;
  font-family: var(--poppins-font);
  font-weight: 500;
  margin: auto;
}

/* CSS Sidebar */

aside {
  display: flex;
}

.menu-sidebar {
  background-color: #12156c;
  padding: 5px;
  width: 14rem;
  height: 35rem;
  color: #fff;
  margin-top: 0;
}

.list-menu {
  display: flex;
  margin: 0px 0px;
  padding: 10px;
  cursor: pointer;
}

.list-menu:hover {
  background-color: #2f3283;
}

.list-menu img {
  max-width: 100%;
  height: 2rem;
}

.list-menu a {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--roboto-font);
  margin: 10px;
  color: white;
  text-decoration: none;
}

.menu-sidebar .line {
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background-color: #fff;
}

.section-content {
  width: 70rem;
  display: block;
  overflow-y: auto;
  scrollbar-width: none;
}

/* CSS Bx Input */

.box-input {
  width: 75%;
  position: absolute;
  left: 20%;
  top: 20%;
  box-shadow: 0 10px 10px rgba(114, 114, 114, 0.671);
  border: 1px solid black;
  background-color: white;
  max-height: 72vh;
  overflow-y: auto;
  margin: auto;
  padding: 10px;
}

/* CSS div pembungkus Form */

.form {
  margin-left: 2rem;
  margin-bottom: 2rem;
  vertical-align: top;
}

/* CSS Form */

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
}

input {
  width: 15rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid black;
  font-size: large;
  box-shadow: 0 10px 10px rgba(110, 110, 110, 0.671);
}

/* CSS Tombol */

#add {
  background-color: #12156c;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: var(--roboto-font);
  cursor: pointer;
  float: right;
  margin-left: 10px;
  width: 100px;
}

#add:hover {
  background-color: #2f3283;
}

/* CSS Footer */

.footer {
  background-color: #bdbadf;
  color: #fff;
  height: 4.6vh;
  margin-top: -1.85rem;
  position: sticky;
  bottom: 0;
}

.footer > p {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: var(--roboto-font);
  padding: 5px;
}
